@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "Technical Steering Group";
}

    <div class="row team-bg-green">
        <h2>Technical Steering Group</h2>
        <div class="col-md-2">
            <p><a href="http://www.microsoft.com"> <img width="165" height="124" alt="Microsoft" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Microsoft.png" /> </a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://www.redhat.com"> <img width="165" height="124" alt="Red Hat" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Red-Hat.png" /> </a></p>
        </div>
        <div class="col-md-2">
            <p><a href="https://www.jetbrains.com/"> <img width="165" height="124" alt="JetBrains" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/JetBrains.png" /> </a></p>
        </div>
        <div class="col-md-2">
            <p><a href="https://unity3d.com/"> <img width="165" height="124" alt="Unity" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Unity.png" /> </a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://www.samsung.com/"> <img width="165" height="124" alt="Samsung" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Samsung.png" /> </a></p>
        </div>
        <div class="col-md-2">
            <p><a href="https://cloud.google.com"> <img width="165" height="124" alt="Google" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/google.png" /> </a></p>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-12 column">
            <p>&nbsp;</p>
            <h3>Building the future of .NET - together</h3>
            <p>The .NET Foundation Technical Steering Group help guide the future of the .NET platform. The Technical Steering Group is a working group with-in the .NET Foundation to provide technical review and co-ordination across the core .NET projects and key stakeholders.</p>
            <p>The Technical Steering Group consists of nominated representatives from all the core .NET projects along with representatives from key partner companies, organizations or individuals at the invitation of the .NET Foundation Board of Directors. Representation on the Technical Steering Group is reviewed annually by the Board of Directors to ensure that the right mix of opinions are being sought on the technical direction of .NET.</p>
            <p>The Technical Steering Group take part in discussions on core projects that are part of the .NET Foundation including, but not limited, to the following topics:</p>
            <ul>
                <li>Major architectural and platform support decisions</li>
                <li>Major roadmap plan changes</li>
                <li>Major release schedule plans</li>
            </ul>
            <p>The Technical Steering Group are&nbsp;also be consulted on:</p>
            <ul>
                <li>New .NET Foundation Project Submissions</li>
                <li>C# &amp; VB Language Proposals</li>
            </ul>
            <p>The representatives of the Technical Steering Group are kept&nbsp;informed regarding the ECMA Standardization Process for C# and the Common Language Runtime (CLR) as well as being invited to other events, conferences and technical meetings from time to time. The majority of the business of the Technical Steering Group is&nbsp;carried out via email with invitations sent out to the group when conference calls or other meetings are required to advance a topic. Conference and video call facilities are made&nbsp;available when in person meeting are being conducted that are relevant to the Technical Steering Group.</p>
            <p>As part of joining the .NET Foundation Technical Steering Group, the member organization&nbsp;agree to the following:</p>
            <ul>
                <li>Provide written notification of the names and email addresses of the&nbsp;individual representatives on the Technical Steering Group</li>
                <li>Provide written notification of any changes to the individuals representing the organization&nbsp;on the Technical Steering Group</li>
                <li>Ensure that their representatives have read and adhere to the <a href="/code-of-conduct">.NET Foundation Code of Conduct </a>&nbsp;</li>
                <li>Ensure that their representatives engage in discussions on behalf of the organization&nbsp;to help influence the technical decisions being made by core projects in the .NET Foundation and make reasonable attempts to attend conference calls when possible</li>
                <li>All feedback and discussion within the Technical Steering Group is provided under the terms of the <a href="http://cla2.dotnetfoundation.org">.NET Foundation Contribution License Agreement</a>. The organization&nbsp;will ensure that their representatives have agreed to the terms of the .NET Foundation Contribution License Agreement or that a Contribution License Agreement is in place between the entity&nbsp;<span>and the .NET Foundation that includes the contributions made by their representatives.<br /></span></li>
            </ul>
            <p></p>
        </div>
    </div>