@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<h2>Get Involved</h2>
<p>The .NET Foundation is looking for community involvement several areas: contributing to a project, new project submissions, and spreading the word.</p>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <h4>Contribute</h4>

        <p><span>There are many .NET open source projects in which you can get involved and help advance the .NET ecosystem. Join with them and help us charter the organization to support openness and best-of-breed open source practices. Take a look at the projects in the foundation and become a contributor by signing the contributor license agreement.</span></p>

        <p><span>Provide feedback and follow the discussions on .NET, the .NET foundation, or the projects within by joining the conversations on our forums.</span></p>
    </div>
    <div class="col-sm-12 col-md-4">
        <h4>Submit a Project</h4>

        <p><span>Participation in the .NET Foundation exposes your project to the wider world of .NET developers and builds a better community. If you would like to learn a bit more about what joining the .NET Foundation involves then please see the <a href="https://github.com/dotnet/home/blob/master/guidance/new-projects.md">New Project Guidance</a>. To learn how your project can join the foundation and what the foundation can do for you, read the <a href="/faq">FAQ</a>&nbsp;and then <a href="https://dotnetfoundation.sharepoint.com/_layouts/15/guestaccess.aspx?guestaccesstoken=FIHTIfH3tzOmRhiXq4f%2bPVKhXkvZRosPxDiFl%2bfi6Ig%3d&amp;docid=1_1657916a0083245a79bc0335d466ef80f&amp;wdFormId=%7B3774A4ED%2DE93A%2D456C%2D8A1F%2DAB1FF94F080A%7D">fill out this simple survey</a>&nbsp;to start the process.</span></p>
    </div>
    <div class="col-sm-12 col-md-4">
        <h4>Spread the Word</h4>

        <p>The community is key to building the.NET Foundation. We are in the process of inviting many projects and community leaders to join the foundation. We are currently finalizing operational details, including governance models for its open source initiatives, membership structure, and industry and community engagement. We need you to boost the signal and let others in the community know what we are doing.</p>

        <p><a href="blog">Read our blog</a>&nbsp;and follow<span class="Apple-converted-space">&nbsp;</span><a href="https://twitter.com/dotnetfdn">@@dotnetfdn</a><span class="Apple-converted-space">&nbsp;</span>on Twitter for the latest news about the .NET Foundation.</p>
    </div>
</div>