@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<h2>Merchandise</h2>
<p>Show your support for the .NET Foundation or drink a toast to your favourite project by purchasing some of your very own merchandise from one of our partner stores. Remember, this is an open source community - if you want to make your own, custom design then you can find .NET Foundation project&nbsp;artwork in the <a href="https://github.com/dotnet/swag">swag repository on GitHub</a>&nbsp;under the creative commons license. Be sure to post pictures of you showing off your .NET Foundation swag in the wild using the hashtag&nbsp;<a href="https://twitter.com/search?q=%23dotnetpride">#dotnetpride</a></p>
<div class="merchandise">

    <div class="col-md-3">

        <div class="content-box box-default">
            <h5>
                .NET Foundation Mug
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/net-foundation-mug.png?v=636154283080000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/net+foundation+mug-A102751397">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Cake
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/cake.png?v=636154283080000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15791-cake">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                F# Hero Woman
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/f-hero-woman.png?v=636154283090000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/f+hero+woman-A107219372">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                All The Things Women's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/all-the-things-women-s-tee.png?v=636154283100000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/all+the+things+women-s+tee-A105128429">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                All The Things Men's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/all-the-things-men-s-tee.png?v=636154283100000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/all+the+things+men-s+tee-A105128424">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                VB Hero Woman
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/vb-hero-woman.png?v=636154283120000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/vb+hero+woman-A107219377">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                DotNetBot Men's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/dotnetbot-men-s-tee.png?v=636154283120000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/dotnetbot+men-s+tee-A102742464">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                .NET Source (Dark Laptops)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/dot-net-source-dark-laptops.png?v=636154283130000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15915-dot-net-source-dark-laptops">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                @@dotnet-bot
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/at-dotnet-bot.png?v=636154283130000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15792-at-dotnet-bot">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                C# Hero Man
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/c-hero-man.png?v=636154283140000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/c+hero+man-A107219366">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                .NET Source (Silver Laptops)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/dot-net-source-silver-laptops.png?v=636154283140000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/5901-dot-net-source-silver-laptops">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Cup
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/cup.png?v=636154283150000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/cup-A102800316">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                WiX Toolset
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/wix-toolset.png?v=636154283150000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15793-wix-toolset">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                .NET Foundation Logo
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/dot-net-foundation-logo.png?v=636154283150000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/5900-dot-net-foundation-logo">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                C# Hero Woman
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/c-hero-woman.png?v=636154283160000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/c+hero+woman-A107219368">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                C# Hero
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/c-number-hero.png?v=636154283160000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15923-c-number-hero">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Source Men's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/source-men-s-tee.png?v=636154283170000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/source+men-s+tee-A102741340">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                VB Hero Man
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/vb-hero-man.png?v=636154283170000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/vb+hero+man-A107219376">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                DotNetBot Women's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/dotnetbot-women-s-tee.png?v=636154283180000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/dotnetbot+women-s+tee-A102742456">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                F# Hero Man
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/f-hero-man.png?v=636154283180000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/f+hero+man-A107219375">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                VB Hero
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/vb-hero.png?v=636154283190000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15921-vb-hero">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                F# Hero
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/f-number-hero.png?v=636154283200000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15922-f-number-hero">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Polly.NET
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/polly-dot-net.png?v=636154283200000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/15794-polly-dot-net">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Open Live Writer
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/open-live-writer.png?v=636154283210000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/13197-open-live-writer">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                @@dotnet-bot (dotmatrix edition)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/at-dotnet-bot-dotmatrix-edition.png?v=636154283210000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/5958-at-dotnet-bot-dotmatrix-edition">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Source Women's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/source-women-s-tee.png?v=636154283220000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/source+women-s+tee-A102741339">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Kudu Women's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/kudu-women-s-tee.png?v=636154283110000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/kudu+women-s+tee-A102816264">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Kudu Men's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/kudu-men-s-tee.png?v=636154283200000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/kudu+men-s+tee-A102816263">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Roslyn Women's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/roslyn-women-s-tee.png?v=636154283220000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/roslyn+women-s+tee-A102740810">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Roslyn Men's Tee
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/roslyn-men-s-tee.png?v=636154283190000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/roslyn+men-s+tee-A102740811">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Kudu Mug
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/kudu-mug.png?v=636154283110000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/kudu+mug-A102816262">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Roslyn Mug
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/roslyn-mug.png?v=636154283120000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/roslyn+mug-A102742716">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Kudu
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/kudu.png?v=636154283180000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/6720-kudu">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Nancy Women's T-Shirt (White)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/nancy_bww.png?v=636155059070000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/nancyfx/-A11339855">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Nancy Women's T-Shirt (Black)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/nancy_wbw.png?v=636155059060000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/nancyfx/-A11339854">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Nancy Men's T-Shirt (White)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/nancy_bwm.png?v=636155059060000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/nancyfx/-A11339828">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Nancy Men's T-Shirt (Black)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/nancy_wbm.png?v=636155059050000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/nancyfx/-A11339827">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Nancy Hoodie
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/nancy_hoodie.png?v=636155063140000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/nancyfx/-A11339816">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Nancy Mug
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/nancy_mug.png?v=636155066690000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/nancyfx/nancy+mug+white-A11339810">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Rx.NET Hoodie
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/da1bf0b2/rx-hoodie-contrast.png?v=636155219430000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="http://shop.spreadshirt.com/dotnet/rx+hoodie-A107370795">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Roslyn Die Cut
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/rosyln-die-cut.png?v=636154283090000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/9310-rosyln-die-cut">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                xUnit.net full logo
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/xunit-dot-net-full-logo.png?v=636160040880000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/4413-xunit-dot-net-full-logo">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                xUnit.net small logo
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/xunit-dot-net-small-logo.png?v=636160041360000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/marketplace/4404-xunit-dot-net-small-logo">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                Rx.NET
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/af4f35b8/rx-dot-net.png?v=636160227590000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/stickermule-icon.png?v=636154283090000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://www.stickermule.com/en/marketplace/16141-rx-dot-net">Buy</a>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-3">



        <div class="content-box box-default">
            <h5>
                BenchmarkDotNet Men's T-Shirt (Grey)
            </h5><div class="img-border">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/1d787ec1/benchmarkdotnet-tshirt.png?v=636366564420000000" alt="Image">
            </div>
            <div class="item-footer">
                <div class="pull-left">
                    <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/d5981448/8a8d9fa4/spreadshirt-icon.png?v=636154283080000000" alt="Icon">
                </div>
                <div class="pull-right">
                    <a class="btn btn-ar btn-lg btn-primary" href="https://shop.spreadshirt.com/dotnet/-A108822064">Buy</a>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<div class="merchandise row content-box box-royal">
    <h2 class="content-box-title">Our Vendors</h2>
    
    <div class="col-md-4 col-md-offset-2">
        <div class="dotnetfoundation-getinvolved-merchandise-vendors">
            <div class="dotnetfoundation-getinvolved-merchandise-vendors-logo">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/8a8d9fa4/spreadshirt-logo-medium.png?v=636154283250000000" alt="pull-left">
            </div>
            <div class="dotnetfoundation-getinvolved-merchandise-vendors-title-description">
                <div class="dotnetfoundation-getinvolved-merchandise-vendors-title uppercase">
                    Spread Shirt
                </div>
                <div class="dotnetfoundation-getinvolved-merchandise-vendors-description">
                    <p><span>Dedicated to providing beautifully-printed apparel and accessories at fair prices, created with responsible and eco-friendly production practices. What began as a start-up in 2002 soon grew into one of the world’s most successful print-on-demand ventures. Spreadshirt have local production facilities in several regions globally to reduce shipping costs and delivery times.</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="">
            <div class="dotnetfoundation-getinvolved-merchandise-vendors-logo">
                <img src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/9079eeb0/8a8d9fa4/stickermule-logo.png?v=636154283270000000" alt="pull-left">
            </div>
            <div class="dotnetfoundation-getinvolved-merchandise-vendors-title-description">
                <div class="dotnetfoundation-getinvolved-merchandise-vendors-title uppercase">
                    Sticker Mule
                </div>
                <div class="dotnetfoundation-getinvolved-merchandise-vendors-description">
                    <p><span>Sticker Mule is the fastest and easiest way to buy quality, long lasting custom stickers and buttons / badges to show your support for your favorite project.&nbsp; They aim to ship all orders in 4 business days from the US with discounted international shipping options.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>