@using Microsoft.SyndicationFeed;
@model IEnumerable<ISyndicationItem>

@functions
{
private Uri GetImage(ISyndicationItem item)
{
	return item.Links.First(l => l.RelationshipType == "enclosure").Uri;
}
}

@foreach (var project in Model)
{
<div class="project">

	<figure class="project_image">
		<img src="@GetImage(project)" />
	</figure>

	<div class="project_content">
		<h3><a href="@project.Links.First().Uri">@project.Title</a></h3>
		<p>
			@if (!String.IsNullOrEmpty(project.Description))
			{
				@project.Description.PlainTextTruncate(175)
			}
			else
			{
				<span>(No description listed)</span>
			}
		</p>
</div>
</div>
}