@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}


    <h2>&nbsp;&nbsp;&nbsp;About</h2>
    <div class="col-md-8">
        <p>The .NET Foundation is an independent organization to foster open development and collaboration around the .NET ecosystem. It serves as a forum for community and commercial developers alike to broaden and strengthen the future of the .NET ecosystem by promoting openness and community participation to encourage innovation.</p>
        <p>See our <a href="/blog">Blog</a>&nbsp;and <a href="/faq">FAQ</a>&nbsp;for more information and join in the conversations on our <a href="http://forums.dotnetfoundation.org/">forums</a>. You can also c<span>heck out&nbsp;</span><a href="/projects?type=project">the projects</a><span> and meet the </span><a href="/team"><span color="#61007f">key people</span></a><span>&nbsp;behind the .NET Foundation.</span></p>
        <h3>What We Do</h3>
        <p>The .NET Foundation supports .NET open source in a number of ways. We promote the broad spectrum of software available to .NET developers through NuGet.org, GitHub and other venues. We advocate for the needs of .NET open source developers in the community. We evangelize the benefits of the .NET platform to the wider community of developers and we promote the benefits of the open source model to developers already using .NET. The .NET Foundation also provides administration and support for a number of .NET open source projects assigned to the foundation.</p>
        <h3>Services for .NET Foundation Projects</h3>
        <p>The .NET Foundation provides the following services in support of the projects assigned to it.&nbsp;If you run a project that is interested in joining the .NET Foundation&nbsp;then please take a look our&nbsp;<a href="https://github.com/dotnet/home/blob/master/guidance/new-projects.md">New Project Checklist</a></p>
        <h4>Project Guidance and Mentoring</h4>
        <p>New .NET projects joining the foundation get mentorship to help with expertise in running an open source community and access to other developers currently looking after .NET open source projects. We work with project leads to help ensure that the project grows into a vibrant and welcoming community and help share knowledge on best practices in running a friendly, collaborative and innovative open source community.</p>
        <h4>IP and Legal</h4>
        <p>We help projects organize and manage their IP assignments as well as provide infrastructure for tracking a common, simple, Contribution License Agreement across all .NET Foundation projects. We can help in ensuring people respect the open source licenses and trademarks of projects assigned to the .NET Foundation and we can provide access to advice on legal issues affecting projects in the .NET Foundation.</p>
        <h4>Marketing and Communications</h4>
        <p>The .NET Foundation works with Microsoft and the broader industry to increase the exposure of open source projects in the .NET community and the .NET Foundation. The .NET Foundation provides access to these resources to projects and looks to promote the activities of our communities.</p>
        <h4>Financial Support</h4>
        <p>The .NET Foundation is not a grant funding body but the .NET Foundation can help projects accept, invoice and process donations in-kind or earmarked donation on behalf of the individual projects. As a US tax-exempt non-profit organization (501.(c)(6)), there are some limits on what projects can do with those assets but the foundation will work with the project to ensure funds are spent appropriately. When running events such as meet-ups and conferences, the foundation can also work with projects to create ticket selling accounts, arrange contracts with venues etc. Donations typically cover activities including hosting expenses, travel expenses to attend conferences / meetups, promotional items for the project, sponsoring or organizing a conference/meet-up.</p>
        <h4>Technical Support Services</h4>
        <p>We provide a number of technical support services for our projects including Authenticode code-signing of binaries and installers, binary distribution management, forums, hosting, shared secret storage, online and phone conferencing as well as document collaboration facilities and access to software.</p>
        <ul>
            <li><strong>CLA Management&nbsp;</strong>- Our&nbsp;automated CLA system has been working well for GitHub based projects with a very high rate of developers able to easily sign their Contribution License Agreements electronically and will full automated notification to the project committers regarding the CLA status of a pull request author.&nbsp;</li>
            <li><strong>Secret Management</strong>&nbsp;- We provide a&nbsp;secure vault to store secrets related to your project (such as social media credentials, website logins etc) and allow you to share them securely between trusted maintainers on your project or just to provide peace of mind that they are saved away should anything happen.</li>
            <li><strong>SSL Certificates</strong>&nbsp;- We've partnered with DigiCert to provide SSL certificates for the .NET Foundation OU. We set your project up in Digicerts system, you request the certificate for your website and these are then paid for centrally by the foundation.</li>
            <li><strong>Code Signing&nbsp;</strong> We've implemented an automated service to Authenticode signing your release MSI's, EXE's and Nuget Packages with the .NET Foundation code signing certificate. The certificate is well known to Windows Smart Screen meaning people can install your open source application without warnings and allows consuming applications to know that the binary downloaded is the one that was created on your build server.</li>
            <li><strong>Software&nbsp;</strong>- If your maintainers need access to certain software to enable them to work more effectively on their open source projects <a href="/contact-us">contact us</a>&nbsp;and we can go talk to the vendor on your behalf. Microsoft have sponsored a number of MSDN subscriptions for .NET Foundation project contributors over the past 12 months.</li>
            <li><strong>Forums&nbsp;</strong>- We use Discourse for our&nbsp;<a href="http://forums.dotnetfoundation.org/">forums</a>, and we can also set up dedicate project specific forums if you wish.</li>
            <li><strong>Hosting</strong>&nbsp;- We provide hosting for a number of .NET Foundation project resources in Microsoft Azure. We have a .NET Foundation Office 365 account with SharePoint Online, Exchange and more.</li>
            <li><strong>AppVeyor&nbsp;</strong>- We have a Professional FOSS subscription with AppVeyor allowing projects access to the latest version of Visual Studio and the fastest category of build servers.</li>
            <li><strong>MyGet&nbsp;</strong>- For projects that want to have a NuGet feed for the CI builds we have a dedicated MyGet enterprise instance (dotnet.myget.org) with enhanced storage capabilities.</li>
            <li><strong>Domain and DNS Registration</strong>&nbsp;- If you want the .NET Foundation to safeguard your project domain names or assist with DNS configuration then just let us know.</li>
        </ul>
        <p>We continue adding to the list of service available as projects come to us and let us know things they need. If there is anything we can do to help your project be more successful then please just <a href="/contact-us">get in touch</a>.</p>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <div class="row">
            <p>The .NET Foundation is a 503(c).6 non-profit organization set up to support an innovative, commercially-friendly, open source ecosystem around an open source .NET platform.</p>
            <h4>Read about:</h4>
            <ul>
                <li><a href="/team">Board of Directors, Officers and Advisory Council</a></li>
                <li><a href="/about/tsg">Technical Steering Group</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="small-12 medium-12 column">
                <h4>Additional Information</h4>
                <p><a href="https://github.com/dotnet/home/tree/master/governance">Governance</a></p>
                <p><a href="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Documents/NET%20Foundation%20Articles%20of%20Incorporation.pdf">Articles of Incorporation</a></p>
                <p><a href="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Documents/NET%20Foundation-First-Amended-and-Restated-Bylaws-2015-03-25.pdf">Company By-Laws</a></p>
                <p><a href="https://github.com/dotnet/swag">Logos</a></p>
            </div>
        </div>
    </div>
