@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
	Layout = "_Layout";
	ViewData["Title"] = "About";
	ViewData["BodyClass"] = "pages";
}

<section class="page-section page-section--purple">
	<div class="page-section_container container">
		<div class="page-section_row row">
			<div class="page-section_column col-12 text-center">
				<h2>
					About the .NET Foundation
				</h2>
				<p class="mx-auto">
					The .NET Foundation is an independent organization created to foster innovation, which we believe starts with open development and collaboration. It's also a forum for community and commercial developers to broaden and strengthen the future of the .NET ecosystem.
				</p>
				<div id="home-hero_buttons" class="mx-auto d-flex justify-content-between">
					<a href="/Projects" class="site-button site-button--pink">See the projects</a>
					<a href="#team" class="site-button site-button--pink">Meet the team</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-section--purple--light">
	<div class="page-section_container container">
		<div class="page-section_row row h-100">
			<div class="page-section_column col-8 text-left">
				<h2 id="what-we-do">
					What we do
				</h2>
				<p>
					The .NET Foundation supports .NET open source in a number of ways.
				</p>
				<ul>
					<li>
						Promote the broad spectrum of software available to .NET developers through NuGet.org,
						GitHub, and other venues.
					</li>
					<li>
						Advocate for the needs of .NET open source developers in the community.
					</li>
					<li>
						Evangelize the benefits of the .NET platform to a wider community of developers.
					</li>
					<li>
						Promote the benefits of the open source model to developers already using .NET.
					</li>
					<li>Offer administrative support for a number of .NET open source projects.</li>
				</ul>
			</div>
			<div class="col-3 offset-1 my-auto px-3">
				<img src="~/img/dot_bot.png" />
			</div>
		</div>
	</div>
</section>

<section class="page-section page-section">
	<div class="page-section_container container">
		<div class="page-section_row row">
			<div class="col-12">
				<h2 id="project-services">
					Services for .NET Foundation projects
				</h2>
				<p>
					The .NET Foundation provides several services to support the projects in our community. If you 're currently running a project along these lines, or if you 're interested in kicking off a new idea, please take a look at our New Project Checklist.
				</p>
				<h3>Management and administrative nitty-gritty</h3>
				<h4>Project guidance and mentoring</h4>
				<p>
					New projects joining us will get mentorship on how to best run an open source community along with access to developers currently seeking .NET projects. We work with project leads to help ensure the project grows into a vibrant and welcoming community. And of course, we love to share best practices for managing a friendly, collaborative, and innovative open source workplace, wherever you may be.
				</p>
				<h4>
					IP and legal
				</h4>
				<p>
					Legal can be tricky. We can help. Projects in our organization will get assistance to organize and manage their IP assignments as well as infrastructure for tracking common, simple, Contribution License Agreements across all .NET Foundation projects. We can also help ensure that your collaborators respect the open source licenses and trademarks of projects assigned to the .NET Foundation. Need advice on legal issues? We offer support there as well.
				</p>
				<h4>
					Marketing and communications
				</h4>
				<p>
					The more people who know about .NET, the better for the ecosystem. We work with Microsoft and other industry leaders to improve your project 's exposure within the community at large. Your success is our success-we'd love to see you achieve the accolades you deserve!
				</p>

				<h4>
					Financial support
				</h4>
				<p>
					While we do not provide grants or funding for projects, we can help you accept, invoice, and process in-kind donations or those earmarked for donation on behalf of the individual projects. As a U.S. tax-exempt non-profit organization (501.(c)(6)), there are some limits to what we can do to support you from a financial perspective, but let's make sure your funds are spent and allocated appropriately.
					When running events such as meet-ups and conferences, the foundation can also work with projects to create ticket selling accounts, arrange contracts with venues, and more to make sure you have what you need. Donations typically cover relevant activities including hosting expenses, travel expenses, promotional items, sponsorships, and more.
				</p>
				<h3 id="technical-services">Technical services</h3>
				<div class="container">
					<div class="row">
						<div class="col-6">
							<h4>
								General services
							</h4>
							<p>
								We provide support services for our projects including Authenticode code-signing of binaries and installers, binary distribution management, forums, hosting, shared secret storage, online and phone conferencing as well as document collaboration facilities and access to software.
							</p>
							<h4>
								CLA management
							</h4>
							<p>
								Our automated CLA system has been working well for GitHub-based projects, with a very high rate of developers able to easily sign their Contribution License Agreements electronically. This service is offered with full automated notification to the project committers regarding the CLA status of a pull request author.
							</p>
							<h4>
								Secret management
							</h4>
							<p>
								Get a secure vault to store secrets related to your project (social media credentials, website logins, etc.). Share credentials securely between trusted maintainers on your project, or simply enjoy the peace of mind that they're safely saved.
							</p>
							<h4>
								SSL certificates
							</h4>
							<p>
								We've partnered with DigiCert to provide SSL certificates for the .NET Foundation OU. We set your project up in Digicert's system, you request the certificate for your website, and they're paid for centrally by the foundation.
							</p>
							<h4>
								Code signing
							</h4>
							<p>
								We've implemented an automated service to Authenticode signing your release MSIs, EXEs and Nuget Packages with the .NET Foundation code signing certificate. The certificate is well known to Windows Smart Screen, so people can install your open-source application without warnings. It also allows for consuming applications knowing that the binary downloaded is the one created on your build server.
							</p>
							<h4>
								Hosting
							</h4>
							<p>
								We provide hosting for a number of .NET Foundation project resources in Microsoft Azure. We have a .NET Foundation Office 365 account with SharePoint Online, Exchange, and more.
						</div>
						<div class="col-6">
							<h4>
								Software
							</h4>
							<p>
								If your maintainers need access to certain software to enable them to work more effectively on their open source projects, contact us and we can talk with vendors on your behalf. Microsoft has sponsored a number of MSDN subscriptions for .NET Foundation project contributors over the past 12 months.
							</p>
							<h4>
								Forums
							</h4>
							<p>
								We use Discourse for our forums, and we can also set up dedicated, project-specific forums if your project will benefit from it.
							</p>
							<h4>
								AppVeyor
							</h4>
							<p>
								The .NET Foundation has a Professional FOSS subscription with AppVeyor, which allows projects to access the latest version of Visual Studio and the fastest category of build servers.
							</p>
							<h4>
								MyGet
							</h4>
							<p>
								If you want to have a NuGet feed for your project's CI builds, we have a dedicated MyGet enterprise instance (dotnet.myget.org) with enhanced storage capabilities.
							</p>
							<h4>
								Domain and DNS registration
							</h4>
							<p>
								Just let us know if you'd like the .NET Foundation to safeguard your project domain names or assist with DNS configuration.
							</p>
							<h4>
								What have we missed?
							</h4>
							<p>
								That's the bulk of what we offer, but who knows what might come up? We're always looking to expand our list of offerings to help you get your project done with the fewest hurdles.
								If there is anything we can do to help your project be more successful, please get in touch.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-section page-section--purple--light">
	<div class="page-section_container container">
		<div class="page-section_row row">
			<div class="col-12">
				<h2 id="frequent-questions">
					Other questions that come up
				</h2>
				<h3>
					Why create the .NET Foundation?
				</h3>
				<p>
					We were designed from the start as an independent forum to foster open development and collaboration across open source technologies for .NET. Our goal is to strengthen the .NET ecosystem through openness, rapid innovation, and community participation. If you get involved, we'll help you stay focused on producing high-quality software without the legal and administrative distractions and overhead. Keep your eye on the code and your users!
				</p>
				<h3>
					Why not encourage .NET open source projects to join other foundations?
				</h3>
				<p>
					We certainly don't discourage it! Absolutely feel free to join any foundation you prefer. We will even happily facilitate those connections when we can.
					We are special in that we're the only foundation to focus exclusively on .NET.  That means we can keep our focus narrow, and that our community shares the same skills, tools, and environments-so it's a good filter to know what you're getting.
				</p>
				<h3>
					What license will .NET Foundation projects use?
				</h3>
				<p>
					The .NET Foundation is license-agnostic. Projects that come to the Foundation are free to choose any open source license, as defined by the Open Source Initiative.
					However, we do NOT believe that making software available under an open source license is sufficient. We expect our projects to accept contributions from the community where they clearly align with the project strategy.
				</p>
				<h3>
					How are .NET Foundation projects governed?
				</h3>
				<p>
					It's incredibly important to have a clear governance model that describes how individuals and organizations can engage with a project. This ensures transparency, which is fundamental to our beliefs. The .NET Foundation does not prescribe a governance model for projects. However, we do work with project leads to ensure that they define and document an optimal model that matches the community's objectives.
				</p>
				<h3>
					Will the Foundation influence which projects are accepted?
				</h3>
				<p>
					All .NET Foundation projects are expected to contribute to the .NET ecosystem in some direct way.
					<ul>
						<li>
							Initial evaluation of community health
						</li>
						<li>
							Needs to be directly .NET related
						</li>
						<li>
							Otherwise, anything goes!
						</li>
					</ul>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-section page-section">
	<div class="page-section_container container">
		<div class="page-section_row row">
			<div class="col-8">
				<h2 id="corporate-sponsors">
					Corporate Sponsors
				</h2>
				<p>
					We're inviting the .NET community to take an active role in guiding and supporting the .NET Foundation, and that includes both individual open source developers and businesses that depend on .NET open source. We think it's really important to involve corporate sponsors as a key part of this change for three reasons.
				</p>
				<p>
					First, for the .NET Foundation to really be independent and community run, it needs to be independently funded. In the past, we've depended on (greatly appreciated!) donations from Microsoft. Going forward, we'll be funded by Corporate Sponsorships and Member Dues. Microsoft's donation as a Corporate Sponsor will now be a relatively small percentage of our funding.
				</p>
				<p>
					Secondly, Corporate Sponsorship really expands what the .NET Foundation can do - not just by having a bigger budget, but by being able to make long term plans based on annual dues payments.
				</p>
				<p>
					Third, Corporate Sponsorship directly involves the .NET corporate world in the .NET open source ecosystem, which is important! We'll have input from companies that depend on .NET open source, we'll be able to tackle some hard problems like how companies can be involved in sustainable community run open source projects.
				</p>
				<p>
					If you're interested in learning more about the sponsorship program, get in touch: contact@dotnetfoundation.org
				</p>
			</div>
            <div class="col-3 offset-1">
                <div>
                    <p><a href="https://aws.amazon.com/"> <img width="250" alt="AWS" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/corporate-sponsors/amazon.png"> </a></p>
                </div>

                <div>
                    <p><a href="http://www.devexpress.com"> <img width="250" alt="DevExpress" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Blog/devexpress-logo-2020.png"> </a></p>
                </div>

                <div>
                    <p><a href="http://www.microsoft.com"> <img width="250" alt="Microsoft" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Microsoft.png"> </a></p>
                </div>
                <div>
                    <p><a href="http://www.pivotal.com"> <img width="250" alt="Pivotal" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/corporate-sponsors/pivotal.png"> </a></p>
                </div>
                <div>
                    <p><a href="https://www.telerik.com/open"> <img width="250" alt="Progress Telerik" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/corporate-sponsors/progress-telerik.png"> </a></p>
                </div>
                <div>
                    <p><a href="https://www.insight.com/"> <img width="250" alt="Insight" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/corporate-sponsors/insight.png"> </a></p>
                </div>
            </div>
		</div>
	</div>
</section>

<hr />

<section class="page-section page-section page-section">
	<div class="page-section_container container">
		<div class="page-section_row row">
			<div class="col-8">
				<h2 id="technical-steering-group">
					Technical Steering Group
				</h2>
				<p>
					The Technical Steering Group is a working group within the .NET Foundation to provide technical review and coordination across the projects and stakeholders.
				</p>
				<p>
					The Technical Steering Group consists of nominated representatives from the core .NET projects along with representatives from partner companies, organizations, or individuals at the invitation of the Board of Directors. Representation is reviewed annually by the Board to ensure that the right mix of opinions are being sought on the technical direction of .NET.
				</p>
				<p>
					The Technical Steering Group takes part in discussions on core projects that are part of the .NET Foundation, including but not limited to the following topics:
				</p>
				<ul>
					<li>
						Major architectural and platform support decisions
					</li>
					<li>
						Major roadmap plan changes
					</li>
					<li>
						Major release schedule plans
					</li>
					<li>
						New .NET Foundation Project Submissions
					</li>
					<li>
						C# & VB Language Proposals
					</li>
				</ul>
				<p>
					The representatives of the Technical Steering Group are kept informed regarding the ECMA Standardization Process for C# and the Common Language Runtime (CLR), as well as being invited to other events, conferences, and technical meetings.
				</p>
				<p>
					As part of joining the .NET Foundation Technical Steering Group, the member organization agrees to the following:
				</p>
				<ul>
					<li>
						Provide written notification of the names and email addresses of the individual representatives on the Technical Steering Group.
					</li>
					<li>

						Provide written notification of any changes to the individuals representing the organization on the Technical Steering Group.
					</li>
					<li>
						Ensure that their representatives have read and adhere to the .NET Foundation Code of Conduct.
					</li>
					<li>
						Ensure that their representatives engage in discussions on behalf of the organization to help influence the technical decisions being made by core projects in the .NET Foundation and make reasonable attempts to attend conference calls when possible.
					</li>
					<li>
						All feedback and discussion within the Technical Steering Group is provided under the terms of the .NET Foundation Contribution License Agreement. The organization will ensure that their representatives have agreed to the terms of the .NET Foundation Contribution License Agreement or that a Contribution License Agreement is in place between the entity and the .NET Foundation that includes the contributions made by their representatives.
					</li>
				</ul>
			</div>
			<div class="col-3 offset-1">
				<div>
					<p><a href="http://www.microsoft.com"> <img width="165" height="124" alt="Microsoft" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Microsoft.png"> </a></p>
				</div>
				<div>
					<p><a href="http://www.redhat.com"> <img width="165" height="124" alt="Red Hat" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Red-Hat.png"> </a></p>
				</div>
				<div>
					<p><a href="https://www.jetbrains.com/"> <img width="165" height="124" alt="JetBrains" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/JetBrains.png"> </a></p>
				</div>
				<div>
					<p><a href="https://unity3d.com/"> <img width="165" height="124" alt="Unity" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Unity.png"> </a></p>
				</div>
				<div>
					<p><a href="http://www.samsung.com/"> <img width="165" height="124" alt="Samsung" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/Samsung.png"> </a></p>
				</div>
				<div>
					<p><a href="https://cloud.google.com"> <img width="165" height="124" alt="Google" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/tsg/google.png"> </a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-section page-section page-section--purple--light" id="team">
	<div class="page-section_container container">
		<div class="page-section_row row">
			<div class="col-12">
				<h2 id="board-of-directors">Board of Directors</h2>
				<div class="row">
					<div class="col-md-3">
						<img height="120" class="rounded-image" alt="ProfilePicture" src="https://avatars3.githubusercontent.com/u/19977?s=400&v=4">
						<h4 class="col-md-3-name"><a href="https://election.dotnetfoundation.org/campaign-2019/phil-haack.html">Phil Haack</a></h4>
					</div>
					<div class="col-md-3">
						<img height="120" class="rounded-image" alt="ProfilePicture" src="https://avatars2.githubusercontent.com/u/1142958?s=400&u=35ad462d9638ab4560868ec9c12087b7c0039c75&v=4">
						<h4 class="col-md-3-name"><a href="https://election.dotnetfoundation.org/campaign-2019/ben-adams.html">Ben Adams</a></h4>
					</div>
					<div class="col-md-3">
						<img height="120" class="rounded-image" alt="ProfilePicture" src="https://avatars0.githubusercontent.com/u/110101?s=400&v=4">
						<h4 class="col-md-3-name"><a href="https://election.dotnetfoundation.org/campaign-2019/sara-chipps.html">Sara Chipps</a></h4>
					</div>
					<div class="col-md-3">
						<img height="120" class="rounded-image" alt="ProfilePicture" src="https://avatars2.githubusercontent.com/u/1671084?s=400&v=4">
						<h4 class="col-md-3-name"><a href="https://election.dotnetfoundation.org/campaign-2019/iris-classon.html">Iris Classon</a></h4>
					</div>
					<div class="col-md-3">
						<img height="120" class="rounded-image" alt="ProfilePicture" src="https://avatars1.githubusercontent.com/u/5115571?s=400&v=4">
						<h4 class="col-md-3-name"><a href="https://election.dotnetfoundation.org/campaign-2019/beth-massi.html">Beth Massi</a></h4>
					</div>
					<div class="col-md-3">
						<img height="120" class="rounded-image" alt="ProfilePicture" src="https://user-images.githubusercontent.com/17011/54181549-cad12c80-4496-11e9-8c3d-426c5d1d008b.jpg">
						<h4 class="col-md-3-name"><a href="https://election.dotnetfoundation.org/campaign-2019/jon-skeet.html">Jon Skeet</a></h4>
					</div>
				</div>
				<div class="row">
					<h2 id="team">Our Team</h2>

                    <div class="row">

                        <div class="col-md-3">
                            <img class="rounded-image" width="120" height="120" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/oren-novotny.jpg?v=636122643340000000">
                            <h4 class="col-md-3-name">Oren Novotny</h4>
                            <span>
                                <a href="https://twitter.com/onovotny"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            </span>
                            <div class="col-md-3-body">
                                I'm <strong>Oren Novotny</strong>, Executive Director of the .NET Foundation. I oversee the day-to-day operations, coordinate with the board, sponsors, advisory council, and help set the direction for the future.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <img class="rounded-image" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/jon-galloway.png?v=636235777890000000">
                            <h4 class="col-md-3-name">Jon Galloway</h4>
                            <span>
                                <a href="https://twitter.com/jongalloway"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            </span>
                            <div class="col-md-3-body">
                                I'm <strong>Jon Galloway</strong>, Vice President of the .NET Foundation.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <img class="rounded-image" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/MiklosB.png?v=636122643340000000">
                            <h4 class="col-md-3-name">Miklos Barkoczi</h4>
                            <div class="col-md-3-body"><p><span>I'm </span><strong>Miklos Barkoczi</strong><span>, the&nbsp;Treasurer of the .NET Foundation. I'm the man with the <g class="gr_ gr_7 gr-alert gr_spell gr_run_anim ContextualSpelling ins-del" id="7" data-gr-id="7">check book. Be nice to me. What's twitter?</g></span></p></div>
                        </div>

                        <div class="col-md-3">
                            <img class="rounded-image" width="120" height="120" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/chris-sfanos.jpg?v=636122643340000000">
                            <h4 class="col-md-3-name">Chris Sfanos</h4>
                            <div class="col-md-3-body"><p><span>I'm </span><strong>Chris Sfanos</strong><span>, Program Manager, helping get things done.</span></p></div>
                        </div>
                    </div>

					<h2 id="advisory-council">.NET Advisory Council</h2>
					<div class="row">
						<div class="col-md-3">
							<h4 class="col-md-3-name">Shaun Walker (Chair)</h4>

							<div class="col-md-3-body"><p><span>Software Architect. Ex-Project leader for DotNetNuke open source product and ecosystem.</span></p></div>
						</div>
						<div class="col-md-3">
							<h4 class="col-md-3-name">Dominick Baier</h4>

							<div class="col-md-3-body"><p>Project leader of the identity &amp; access control libraries for .NET</p></div>
						</div>
						<div class="col-md-3">
							<h4 class="col-md-3-name">Mirco 'meebey' Bauer</h4>

							<div class="col-md-3-body"><p>CTO of cryptocurrency exchange Gatecoin Ltd.</p></div>
						</div>
						<div class="col-md-3">
							<h4 class="col-md-3-name">Martin Woodward</h4>

							<div class="col-md-3-body"><p>Vice President of the .NET Foundation and a former Executive Director. Principal Program Manager at Microsoft.</p></div>
						</div>
						<div class="col-md-3">
							<h4 class="col-md-3-name">Brendan Forster</h4>

							<div class="col-md-3-body"><p>Staff Software Engineer at GitHub, frequent .NET open source contributor.</p></div>
						</div>
						<div class="col-md-3">
							<h4 class="col-md-3-name">Immo Landwerth</h4>

							<div class="col-md-3-body"><p><span>Senior Engineer from Microsoft .NET Framework team helping lead open source initiatives.</span></p></div>
						</div>
						<div class="col-md-3">
							<h4 class="col-md-3-name">Daniel Roth</h4>

							<div class="col-md-3-body"><p><span>Senior Engineer from Microsoft ASP.NET Framework team helping lead open source initiatives.</span></p></div>
						</div>
						<div class="col-md-3">
							<h4 class="col-md-3-name">Bill Wagner</h4>

							<div class="col-md-3-body"><p>.NET Content Creator at Microsoft, Humanitarian Toolbox contributor, author and speaker for .NET technologies.</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
