@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = ".NET Foundation FAQ";
}


    <h2>FAQ</h2>
    <p><strong><g class="gr_ gr_56 gr-alert gr_gramm gr_run_anim Grammar only-ins replaceWithoutSep" id="56" data-gr-id="56">Why</g> create the .NET Foundation?</strong></p>
    <p>The .NET Foundation has been created as an independent forum to foster the open development and collaboration on the growing collection of open source technologies for .NET. Our goal is to strengthen the .NET ecosystem through openness, rapid innovation and community participation. The .NET Foundation enables project participants to focus on producing high quality open source software rather being distracted by the overhead of legal and operational support for their community.</p>
    <p><strong>Why not encourage .NET open source projects to join other foundations?</strong></p>
    <p>Projects are free to join any foundation they prefer - and indeed the .NET Foundation is happy to facilitate that if appropriate. The .NET Foundation is, however, unique in a number of ways. For example, we are the only Foundation that focuses on .NET exclusively. This allows us to build a narrowly focused community with common core skills, tools and environments. The .NET Foundation, unlike some other Foundations, is also license agnostic while its projects are free to choose any appropriate governance model for their community.</p>
    <p><strong>What license will .NET foundation projects use?</strong></p>
    <p>The .NET Foundation is license agnostic. Projects that come to the foundation are free to choose any open source license, as defined by the&nbsp;<a href="http://opensource.org/licenses">Open Source Initiative</a>. However, we do not believe that merely making software available under an open source license is sufficient. We expect our projects to accept contributions from the community where they clearly align with the project strategy.</p>
    <p><strong>How <g class="gr_ gr_59 gr-alert gr_gramm gr_run_anim Punctuation multiReplace" id="59" data-gr-id="59">are .</g>NET Foundation projects governed?</strong></p>
    <p>Having a clear governance model that describes how individuals and organizations can engage with a project and how decisions are made is an important since it helps ensure transparency within the project. The .NET Foundation does not prescribe a governance model for its projects. However, we do work with projects to ensure that they define and document an optimal model that matches the community's objectives.&nbsp;</p>
    <p><strong>Will the foundation influence which projects are accepted?</strong></p>
    <p>All .NET Foundation projects are expected to contribute to the .NET ecosystem in some direct way.</p>
    <ul>
        <li>Initial evaluation of community health</li>
        <li>Needs to be <g class="gr_ gr_63 gr-alert gr_gramm gr_run_anim Grammar multiReplace" id="63" data-gr-id="63">directly</g> .NET related</li>
        <li>Otherwise anything goes</li>
    </ul>
    <p><strong>Will the foundation influence the technical direction of its projects?</strong></p>
    <ul>
        <li>There is a&nbsp;<a href="/about/tsg">Technical Steering Group</a>&nbsp;that&nbsp;facilitates coordination between projects</li>
        <li>Individual projects act independently of the foundation<strong></strong></li>
    </ul>
    <p><strong>Who is on the board of directors / who are the officers ?</strong></p>
    <p>Meet the <a href="/team">key people</a>&nbsp;behind the .NET Foundation.</p>
