@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
    ViewData["BodyClass"] = "pages";
}

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Chatter to keep up with.
                </h2>
                <p class="mx-auto">
                    This is the page to bookmark. Remember, you, your colleagues, your co-coders in arms &mdash; whether you know them yet or not &mdash; are the ones who make up the community and are the true innovators. So keep an eye on this page for news from us, news about .NET, and most important, updates from your peers. Contributors are commended.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--main">
    <div class="page-section_container container">
        <div class="page-section_row row">

			<article class="col-md-8">
				<h2>Community News</h2>
				<hr class="page-section_hr">

				<div class="media-list">
					<vc:news quantity="10"></vc:news>
				</div>
			</article>

			<aside class="col-md-4">
				<h2 class="mb-3">Latest tweets</h2>

				<div id="twitter-widget-container">
					<a class="twitter-timeline"
					   style="display:block;min-height:400px;"
					   data-chrome="noheader nofooter"
					   data-tweet-limit="2"
					   href="https://twitter.com/dotnetfdn/likes?ref_src=twsrc%5Etfw">
					</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<div class="text-right">
						<h4>
							<a href="https://twitter.com/dotnetfdn">More from Twitter ></a>
						</h4>
					</div>
				</div>

				<div>
					<h2 class="page-section_title">Events and Meetups</h2>
					<hr class="page-section_hr">
					<div class="media-list">
						<vc:meetup quantity="3" description-length="120"></vc:meetup>
					</div>
				</div>

				<div class="text-right">
					<h4>
						<a href="https://www.meetup.com/pro/dotnet/">Find more events and Meetups ></a>
					</h4>
				</div>

				<div>
					<h2 class="page-section_title">Featured Project</h2>
					<hr class="page-section_hr">
					<vc:feed quantity="1" url="https://builtwithdot.net/feed/featured?truncateBody=false" view="project"></vc:feed>
				</div>

				<div class="text-right">
					<h4>
						<a href="https://builtwithdotnet.com">More on BuiltWithDotNet.com ></a>
					</h4>
				</div>

				<!--

				<div class="page-section_row page-section_row--inner row">
					<div class="page-section_column page-section_column--inner col pad-fix--none" id="news-jobs">
						<h2 class="page-section_title">Job opportunities</h2>

						<hr class="page-section_hr">

						<h3 class="p-title"><a href="">Title of job listing</a></h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing el labore et dolore magnam aliquam quaerat voluptatem.
						</p>

						<h3 class="p-title"><a href="">Title of job listing</a></h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing el labore et dolore magnam aliquam quaerat voluptatem.
						</p>

						<h3 class="p-title"><a href="">Title of job listing</a></h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing el labore et dolore magnam aliquam quaerat voluptatem.
						</p>
					</div>
				</div>
	-->
			</aside>

        </div>
    </div>
</section>

@section Scripts {
    <script>
        /* Kinda hacky, but Twitter widget doesn't allow CSS customization. May eventually render server-side, but this works. */
        $(function () {
            window.setTimeout(function () {
                var $head = $(".twitter-timeline").contents().find("head");
                $head.append($("<link/>",
                    { rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato", type: "text/css" }
                ));   
                $(".twitter-timeline").contents().find(".timeline-Tweet-text").css({
                    'font-size': '16px',
                    'font-family': 'Lato'
                });
            }, 1000);
        });
    </script>
}