@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
    ViewData["BodyClass"] = "pages";
}

<section class="page-section page-section--purple">
    <div class="page-section_container container">
        <div class="page-section_row row">
            <div class="page-section_column col-12 text-center">
                <h2>
                    Chatter to keep up with.
                </h2>
                <p class="mx-auto">
                    This is the page to bookmark. Remember, you, your colleagues, your co-coders in arms &mdash; whether you know them yet or not &mdash; are the ones who make up the community and are the true innovators. So keep an eye on this page for news from us, news about .NET, and most important, updates from your peers. Contributors are commended.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--main">
    <div class="page-section_container container">
        <div class="page-section_row row">

            <article class="col-md-8">
                <h2>Community News</h2>

                <div class="page-section_row page-section_row--inner page-section_row--inner--no-margin row margin-fix--all">
                    <vc:news quantity="15"></vc:news>
                </div>
            </article>

            <aside class="page-section_column page-section_aside col-md-4 pad-fix--all">
                <div class="page-section_row page-section_row--inner row">
                    <div class="page-section_column page-section_column--inner col pad-fix--none" id="news-tweets_title-container">
                        <h2 class="page-section_title">Latest tweets</h2>

                        <div class="border-fake border-fake--left"></div>
                    </div>
                </div>

                <div class="page-section_row page-section_row--inner row">
                    <div id="twitter-widget-container" class="page-section_column page-section_column--inner col pad-fix--none">

                        <a class="twitter-timeline" 
                           data-chrome="noheader nofooter noborders" 
                           data-tweet-limit="3"
                           data-style="background: blue;" data-csp-fix="true"
                           href="https://twitter.com/dotnetfdn/likes?ref_src=twsrc%5Etfw">Tweets Liked by @@dotnetfdn</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                    </div>
                </div>

                <div class="page-section_row page-section_row--inner row">
                    <div class="page-section_column page-section_column--inner col pad-fix--md text-right" id="news-tweets_more-container">
                        <a href="#">More from Twitter ></a>
                    </div>
                </div>

                <div class="page-section_row page-section_row--inner row">
                    <div class="page-section_column page-section_column--inner col pad-fix--none" id="news-events">
                        <h2 class="page-section_title">Events and Meetups</h2>

                        <hr class="page-section_hr">

                        <vc:meetup quantity="5"></vc:meetup>
                    </div>
                </div>

                <div class="page-section_row page-section_row--inner row">
                    <div class="page-section_column page-section_column--inner col pad-fix--md text-right" id="news-latest_more-container">
                        <a href="#">Find more events and Meetups ></a>
                    </div>
                </div>

                <div class="page-section_row page-section_row--inner row">
                    <div class="page-section_column page-section_column--inner col pad-fix--none">
                        <h2 class="page-section_title">Featured Project</h2>

                        <div class="project">
                            <figure class="project_image">
                                <img src="/assets/img/logo_microsoft.png">
                            </figure>

                            <div class="project_content">
                                <h3 class="project_title">Microsoft Azure WebJobs SDK</h3>
                                <p>
                                    The Azure WebJobs SDK is a framework that simplifies the task of writing background processing code that...
                                </p>
                            </div>

                            <div class="project_meta d-flex justify-content-center">
                                <p>
                                    <i class="fa fa-star" aria-hidden="true"></i> 34,122
                                </p>
                                <p>
                                    <i class="fa fa-comment" aria-hidden="true"></i> 8,452
                                </p>
                                <p>
                                    <i class="fas fa-code-branch" " aria-hidden="true"></i> 447
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-section_row page-section_row--inner row">
                    <div class="page-section_column page-section_column--inner col text-right aside_divider">
                        <a href="#">Find more projects ></a>
                    </div>
                </div>

                <div class="page-section_row page-section_row--inner row">
                    <div class="page-section_column page-section_column--inner col pad-fix--none" id="news-jobs">
                        <h2 class="page-section_title">Job opportunities</h2>

                        <hr class="page-section_hr">

                        <h3 class="p-title"><a href="">Title of job listing</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing el labore et dolore magnam aliquam quaerat voluptatem.
                        </p>

                        <h3 class="p-title"><a href="">Title of job listing</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing el labore et dolore magnam aliquam quaerat voluptatem.
                        </p>

                        <h3 class="p-title"><a href="">Title of job listing</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing el labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                    </div>
                </div>

            </aside>

        </div>
    </div>
</section>

@section Scripts {
    <script>
        /* Kinda hacky, but Twitter widget doesn't allow CSS customization. May eventually render server-side, but this works. */
        $(function () {
            window.setTimeout(function () {
                var $head = $(".twitter-timeline").contents().find("head");
                $head.append($("<link/>",
                    { rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato", type: "text/css" }
                ));   
                $(".twitter-timeline").contents().find(".timeline-Tweet-text").css({
                    'font-size': '16px',
                    'font-family': 'Lato'
                });;
            }, 1000);
        });
    </script>
}