@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "Team";
}


    <h1>Meet the team</h1>
    <h2>Board of Directors</h2>
    <div class="row">
        <div class="col-md-3">
            <img class="rounded-image" alt="ProfilePicture" height="120" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/Miguel.jpg?v=636122643310000000">
            <h6 class="col-md-3-name">Miguel de Icaza</h6>
            <div class="col-md-3-body"><p><span>I'm </span><strong>Miguel de Icaza</strong><span>, co-founder and CTO of </span><a href="http://xamarin.com/">Xamarin</a><span>&nbsp;and on the board of directors for the .NET Foundation. I have directed the Mono project since its creation in 2001 and oversaw the launches of Mono's desktop, server and mobile offerings at Novell from 2003-2011. Before Mono, I co-founded the GNOME project in 1997.</span></p></div>
        </div>
        <div class="col-md-3">
            <img class="rounded-image" alt="ProfilePicture" height="120" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/hunter.png?v=636122643320000000">
            <h6 class="col-md-3-name">Scott Hunter</h6>
            <div class="col-md-3-body">
                <p>I'm <b>Scott Hunter</b>,&nbsp;<span>I am a&nbsp;Partner Director of Program Management at Microsoft on Visual Studio and .NET including .NET <g class="gr_ gr_11 gr-alert gr_gramm gr_run_anim Punctuation multiReplace" id="11" data-gr-id="11">Core, .NET tooling, Languages, ASP.NET,&nbsp;</span><span>Entity Framework and Web Tooling</span></p>
                <p>Follow me on twitter:&nbsp;<a href="https://twitter.com/coolcsh">@@coolcsh</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <img class="rounded-image" alt="ProfilePicture" height="120" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/Images/oren-novotny.jpg">
            <h6 class="col-md-3-name">Oren Novotny</h6>
            <div class="col-md-3-body">
                <p>
                    I’m <strong>Oren Novotny</strong>, Chief Architect, DevOps & Modern Software at <a href="https://bluemetal.com/">BlueMetal</a>, an Insight company. 
                    I maintain several popular open source projects, and I am a Microsoft Regional Director & MVP.
                </p>
                <p>Follow me on twitter:&nbsp;<a href="https://twitter.com/onovotny">@@onovotny</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Our Team</h2>

        <div class="row">
            <div class="col-md-3">
                <img class="rounded-image" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/jon-galloway.png?v=636235777890000000">
                <h6 class="col-md-3-name">Jon Galloway</h6>
                <span>
                    <a href="https://twitter.com/jongalloway"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </span>
                <span>
                    <a href="mailto:jon@dotnetfoundation.org"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </span>
                <div class="col-md-3-body">
                    I'm <strong>Jon Galloway</strong>, Executive Director of the .NET Foundation. I work closely with the board, advisory council, lawyers 
                    and the rest of the team co-ordinating day to day operations of the foundation and help set the direction for the future.
                </div>
            </div>

            <div class="col-md-3">
                <img class="rounded-image" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/RobinG.JPG?v=636122643340000000">
                <h6 class="col-md-3-name">Robin Ginn</h6>
                <span>
                    <a href="https://twitter.com/rginn206"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </span>
                <div class="col-md-3-body"><p>I'm <strong>Robin Ginn.</strong> In my day job I am a Director of Marketing in the Cloud and Enterprise Group&nbsp;at Microsoft. In the .NET Foundation I give a voice to our people and projects, helping build community support for open source and open standards projects across the industry. I hold the pen.</p></div>
            </div>

            <div class="col-md-3">
                <img class="rounded-image" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/BethM.jpg?v=636122643340000000">
                <h6 class="col-md-3-name">Beth Massi</h6>
                <span>
                    <a href="https://twitter.com/BethMassi"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </span>
                <div class="col-md-3-body"><p>I'm&nbsp;<strong>Beth Massi,</strong> Company Secretary&nbsp;for the .NET Foundation and the .NET Product Marketing Manager at Microsoft. I'm focusing on community engagement for the .NET Foundation including the infrastructure to support it.</p></div>
            </div>
            <div class="col-md-3">
                <img class="rounded-image" alt="ProfilePicture" src="https://dnfwebsitewusproduction.blob.core.windows.net/media/Default/_Profiles/a3cd3d28/d0c44402/MiklosB.png?v=636122643340000000">
                <h6 class="col-md-3-name">Miklos Barkoczi</h6>
                <span>
                    <a href="mailto:mailto:contact@dotnetfoundation.org"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </span>
                <div class="col-md-3-body"><p><span>I'm </span><strong>Miklos Barkoczi</strong><span>, the&nbsp;Treasurer of the .NET Foundation. I'm the man with the <g class="gr_ gr_7 gr-alert gr_spell gr_run_anim ContextualSpelling ins-del" id="7" data-gr-id="7">check book. Be nice to me. What's twitter?</span></p></div>
            </div>
        </div>

        <h2>.NET Advisory Council</h2>
        <div class="row">
            <div class="col-md-3">
                <h6 class="col-md-3-name">Shaun Walker (Chair)</h6>

                <div class="col-md-3-body"><p><span>Software Architect. Ex-Project leader for DotNetNuke open source product and ecosystem.</span></p></div>
            </div>
            <div class="col-md-3">
                <h6 class="col-md-3-name">Dominick Baier</h6>

                <div class="col-md-3-body"><p>Project leader of the identity &amp; access control libraries for .NET</p></div>
            </div>
            <div class="col-md-3">
                <h6 class="col-md-3-name">Mirco 'meebey' Bauer</h6>

                <div class="col-md-3-body"><p>CTO of cryptocurrency exchange Gatecoin Ltd.</p></div>
            </div>
            <div class="col-md-3">
                <h6 class="col-md-3-name">Martin Woodward</h6>

                <div class="col-md-3-body"><p>Vice President of the .NET Foundation and a former Executive Director. Principal Program Manager at Microsoft.</p></div>
            </div>
            <div class="col-md-3">
                <h6 class="col-md-3-name">Brendan Forster</h6>

                <div class="col-md-3-body"><p>Product Manager at GitHub, frequent .NET open source contributor.</p></div>
            </div>
            <div class="col-md-3">
                <h6 class="col-md-3-name">Immo Landwerth</h6>

                <div class="col-md-3-body"><p><span>Senior Engineer from Microsoft .NET Framework team helping lead open source initiatives.</span></p></div>
            </div>
            <div class="col-md-3">
                <h6 class="col-md-3-name">Daniel Roth</h6>

                <div class="col-md-3-body"><p><span>Senior Engineer from Microsoft ASP.NET Framework team helping lead open source initiatives.</span></p></div>
            </div>
            <div class="col-md-3">
                <h6 class="col-md-3-name">Bill Wagner</h6>

                <div class="col-md-3-body"><p>.NET Content Creator at Microsoft, Humanitarian Toolbox contributor, author and speaker for .NET technologies.</p></div>
            </div>
        </div>
    </div>
