@{
    ViewData["Title"] = "Home Page";
}

<section class="wrap-hero margin-bottom">
    <div id="carousel-home-hero" class="carousel carousel-hero slide" data-ride="carousel" data-interval="9000" data-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-home-hero" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home-hero" data-slide-to="1"></li>
            <li data-target="#carousel-home-hero" data-slide-to="2"></li>
            <li data-target="#carousel-home-hero" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
             <!-- carousel: Get started with .NET -->
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="carousel-object">
                                <img class="img-responsive base animated animated-slow reveal animation-delay-25" alt="Image" src="/theme/img/carousel/laptop-outline.png">
                                <img class="img-responsive relative animated animated-slow reveal animation-delay-25" alt="Image" src="/theme/img/carousel/laptop-outline.png">
                                <img class="img-responsive relative animated fadeIn animation-delay-40" alt="Image" src="/theme/img/carousel/laptop-code.png">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Get started with <span>.NET</span></h1>
                                <p class="animated zoomIn animation-delay-9">Develop <span>high performance</span> applications in less time, on any <span>platform</span>. Cross-platform and open source.</p>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13">Any <strong>developer</strong>.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16">Any <strong>app</strong>.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19">Any <strong>platform</strong>.</span></li>
                                </ul>
                                <div class="action-zone">
                                    <a href="https://dot.net" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-25"><i class="fa fa-terminal"></i> Learn .NET</a>
                                    <a href="https://www.microsoft.com/net/download" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-download"></i> Download</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
            <!-- carousel: Code Conversations -->
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="carousel-object" class="img-responsive animated zoomInUp animation-delay-20">
                            <iframe src="https://channel9.msdn.com/Shows/Code-Conversations/Welcome-to-Code-Conversations/player" width="560" height="315" allowFullScreen frameBorder="0"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-5 carousel-title"><span>Code Conversations</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-7"></i><span class="animated fadeInRightBig animation-delay-8">Interviews with <strong>open source .NET</strong> developers</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-9"></i><span class="animated fadeInRightBig animation-delay-10"><strong>Quick!</strong> 5-10 minute videos</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-12"><strong>Code focused!</strong> No presentations, we get right to the code.</span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-20">Join Jon Galloway and Maria Naggaga every week as they chat with .NET open source developers about open source libraries  and code.</p>
                                <div class="action-zone">
                                    <a href="https://channel9.msdn.com/Shows/Code-Conversations" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-play"></i> View Series</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
            <!-- carousel: Community -->          
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="">
                                <img src="https://www.microsoft.com/net/images/home-map.jpg?v=Jcv9jwcveQMjdWP15UawkDwrooV-_hyAYArwqiKqtY4" alt="" class="img-responsive animated zoomInRight animation-delay-30">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Join the <span>.NET Community</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13">Over <strong>1200</strong> worldwide meetups.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16">Built by community and industry leaders.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19">Strong <strong>open source</strong> ecosystem</span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-20">Join a community of 6 million developers. Leverage the large ecosystem of components, Open Source software, and online communities support. </p>
                                <div class="action-zone">
                                    <a href="#" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-25"><i class="fa"></i> Get involved</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
            <!-- carousel: .NET Conf -->
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div>
                                <img class="img-responsive animated zoomInUp animation-delay-15" alt="" src="\theme\img\carousel\dotNetConf-Banner-800x470.png">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><span>.NET Conf 2017</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13"><strong>45</strong> videos!</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16">New <strong>.NET Core 2.0</strong> content</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19">Learn to build for <strong>web, mobile, desktop, games and more...</strong></span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-20">Watch the videos from this online conference, including an overview keynote, getting started courses, and technical deep dives! </p>
                                <div class="action-zone">
                                    <a href="https://channel9.msdn.com/Events/dotnetConf/2017" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-play"></i> View Sessions</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
        </div> <!-- carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-home-hero" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-home-hero" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section> <!-- carousel -->
<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">What do we do?</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">An Independent Non-Profit Organization</h3>
                        <p>The .NET Foundation is a 503(c).6 non-profit organization set up to support an innovative, commercially-friendly, open source ecosystem around an open source .NET platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">.NET Foundation Projects</h3>
                        <p>The .NET Foundation has a growing list of projects that benefit through this open source foundation with commercially friendly IP, copyright terms and licenses.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow fadeInUp">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Supporting the .NET Developer Community</h3>
                        <p>The .NET Foundation works with Microsoft and the broader industry to increase the exposure of open source projects in the .NET community and the .NET Foundation. The .NET Foundation provides access to these resources to projects and looks to promote the activities of our communities.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
    <p class="lead lead-lg text-center primary-color wow fadeIn animation-delay-3">Knows the <strong>Artificial Reason</strong> and surprise yourself</p>
    <p class="lead lead-sm text-center margin-bottom wow fadeIn animation-delay-5">Put here a short description or brief highlights in your app.</p>
    <section class="margin-bottom margin-top">
        <ul class="nav nav-pills nav-justified ar-nav-pills max-width-500 center-block margin-bottom">
            <li><a href="#windows" data-toggle="tab"><i class="fa fa-windows"></i> Windows</a></li>
            <li class="active"><a href="#mac" data-toggle="tab"><i class="fa fa-apple"></i> MacOS X</a></li>
            <li><a href="#linux" data-toggle="tab"><i class="fa fa-linux"></i> Linux</a></li>
        </ul>
        <div class="tab-content margin-top">
            <div class="tab-pane" id="windows">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                        <ul class="list-unstyled hand-list">
                            <li class="animated fadeInRight animation-delay-2">
                                <h2 class="handwriting no-margin">Ideas for your product</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInRight animation-delay-4">
                                <h2 class="handwriting no-margin">Type here annotations</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInRight animation-delay-6">
                                <h2 class="handwriting no-margin">An informal approach to design</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="theme/img/demo/surface.jpg">
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="mac">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <ul class="list-unstyled hand-list">
                            <li class="wow fadeInLeft animation-delay-2">
                                <h2 class="handwriting no-margin">Ideas for your product</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="wow fadeInLeft animation-delay-4">
                                <h2 class="handwriting no-margin">Type here annotations</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="wow fadeInLeft animation-delay-6">
                                <h2 class="handwriting no-margin">An informal approach to design</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="theme/img/demo/new_mac.jpg">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="linux">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                        <ul class="list-unstyled hand-list">
                            <li class="animated fadeInRight animation-delay-2">
                                <h2 class="handwriting no-margin">Ideas for your product</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInRight animation-delay-4">
                                <h2 class="handwriting no-margin">Type here annotations</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInRight animation-delay-6">
                                <h2 class="handwriting no-margin">An informal approach to design</h2>
                                <p class="lead-hand">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="theme/img/demo/ubuntu_tablet.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- container -->
<section class="wrap-primary-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-1"></div>
                    <h4 class="text-center">HTML 5</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-2"></div>
                    <h4 class="text-center">CSS 3</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-3"></div>
                    <h4 class="text-center">Jquery</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-4"></div>
                    <h4 class="text-center">Bootstrap 3</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Recents Works</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInUp">
                <img src="theme/img/demo/w1.jpg" class="img-responsive" alt="Image">
                <div class="caption-ar">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                        <h4 class="caption-title">Image title</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInUp">
                <img src="theme/img/demo/w2.jpg" class="img-responsive" alt="Image">
                <div class="caption-ar">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                        <h4 class="caption-title">Image title</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInUp">
                <img src="theme/img/demo/w3.jpg" class="img-responsive" alt="Image">
                <div class="caption-ar">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                        <h4 class="caption-title">Image title</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInUp">
                <img src="theme/img/demo/w4.jpg" class="img-responsive" alt="Image">
                <div class="caption-ar">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                        <h4 class="caption-title">Image title</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInUp">
                <img src="theme/img/demo/w5.jpg" class="img-responsive" alt="Image">
                <div class="caption-ar">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                        <h4 class="caption-title">Image title</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="img-caption-ar wow fadeInUp">
                <img src="theme/img/demo/w6.jpg" class="img-responsive" alt="Image">
                <div class="caption-ar">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                        <h4 class="caption-title">Image title</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-lines">
    <div class="container">
        <div class="row">
            <div class="col-md-12 padding-40">
                <p class="slogan text-center no-margin">Discover our projects and the rigorous process of <span>creation</span>. Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>. We are backed by 20 years of <span>research</span>.</p>
            </div>
        </div>
    </div>
</section>
<div class="container margin-bottom">
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line no-margin-bottom">About us</h2>
        </div>
        <div class="col-md-6 animated fadeInLeft animation-delay-8">
            <h3>Description</h3>
            <p class="animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde. Rerum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus quibusdam odio eius eligendi tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum. Aspernatur harum labore voluptates modi aperiam sunt, sit quaerat, soluta perspiciatis.</p>
        </div>
        <div class="col-md-6">
            <h3>Knowledge</h3>
            <div class="progress progress-lg animated fadeInUp animation-delay-6">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    HTML 5 &amp; CSS 3
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-8">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    Javascript &amp; Jquery
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-10">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    PHP 5 &amp; MYSQL 5
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-12">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                    C/C++
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-14">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    Python
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-16">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                    Node.js
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->
<div class="container">
    <section class="css-section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Some numerical data</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-2">
                    <h4 id="count-coffees" class="content-box-title counter">450</h4>
                    <i class="fa fa-4x fa-coffee primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">cups of coffee</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-4">
                    <h4 id="count-coffees" class="content-box-title counter">64</h4>
                    <i class="fa fa-4x fa-briefcase primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">projects done</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-6">
                    <h4 id="count-coffees" class="content-box-title counter">600</h4>
                    <i class="fa fa-4x fa-comments-o primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">comments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-8">
                    <h4 id="count-coffees" class="content-box-title counter">3500</h4>
                    <i class="fa fa-4x fa-group primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">happy clients</p>
                </div>
            </div>
        </div>
    </section>
</div> <!-- container -->
<div class="container">
    <h2 class="right-line">Available Plans</h2>
    <section class="css-section">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricign-box wow fadeInUp animation-delay-7">
                    <div class="pricing-box-header">
                        <h2>Personal</h2>
                        <p>nisi anim mollit in labore ut esse</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 10 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-inbox"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-ar btn-default">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricign-box pricign-box-pro wow fadeInUp animation-delay-9">
                    <div class="pricing-box-header">
                        <h2>Professional</h2>
                        <p>nisi anim mollit in labore ut esse</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 25 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-inbox"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-ar btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricign-box wow fadeInUp animation-delay-8">
                    <div class="pricing-box-header">
                        <h2>Ultimate</h2>
                        <p>nisi anim mollit in labore ut esse</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 10 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="fa fa-inbox"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                            <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-ar btn-default">Order Now</a>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>
<div class="container">
    <h2 class="right-line">Our Team</h2>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default panel-card wow fadeInRight animation-delay-2">
                <div class="panel-heading">
                    <img src="theme/img/demo/card1.jpg" />
                    <button class="btn btn-primary btn-ar btn-sm" role="button">Follow</button>
                </div>
                <div class="panel-figure">
                    <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
                </div>
                <div class="panel-body text-center">
                    <h4 class="panel-header"><a href="#">@@Paul</a></h4>
                    <small>A short description goes here.</small>
                </div>
                <div class="panel-thumbnails">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default panel-card wow fadeInRight animation-delay-4">
                <div class="panel-heading">
                    <img src="theme/img/demo/card2.jpg" />
                    <button class="btn btn-primary btn-ar btn-sm" role="button">Follow</button>
                </div>
                <div class="panel-figure">
                    <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/josue/73.jpg" />
                </div>
                <div class="panel-body text-center">
                    <h4 class="panel-header"><a href="#">@@Anna</a></h4>
                    <small>A short description goes here.</small>
                </div>
                <div class="panel-thumbnails">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default panel-card wow fadeInRight animation-delay-6">
                <div class="panel-heading">
                    <img src="theme/img/demo/card3.jpg" />
                    <button class="btn btn-primary btn-ar btn-sm" role="button">Follow</button>
                </div>
                <div class="panel-figure">
                    <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/73.jpg" />
                </div>
                <div class="panel-body text-center">
                    <h4 class="panel-header"><a href="#">@@Patrick</a></h4>
                    <small>A short description goes here.</small>
                </div>
                <div class="panel-thumbnails">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default panel-card wow fadeInRight animation-delay-8">
                <div class="panel-heading">
                    <img src="theme/img/demo/card4.jpg" />
                    <button class="btn btn-primary btn-ar btn-sm" role="button">Follow</button>
                </div>
                <div class="panel-figure">
                    <img class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/nisaanjani/73.jpg" />
                </div>
                <div class="panel-body text-center">
                    <h4 class="panel-header"><a href="#">@@Patrick</a></h4>
                    <small>A short description goes here.</small>
                </div>
                <div class="panel-thumbnails">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="thumbnail">
                                <img src="theme/img/img60.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="margin-top">
        <p class="slogan text-center">Discover our projects and the rigorous process of <span>creation</span>. Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>. We are backed by 20 years of <span>research</span>.</p>
        <h2 class="section-title">Our Clients</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="bxslider-controls">
                    <span id="bx-prev5"></span>
                    <span id="bx-next5"></span>
                </div>
                <ul class="bxslider" id="home-block">
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Dolore totam at ea reiciendis suscipit a tempore cum nisi aspernatur nisi alias posuere erat a ante posuere erat a ante ultricies ultricies nisi vel augue quam semper conse erat quuntur.</p>
                            <footer>Sheldon Cooper, Physical Quantum</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                            <footer>Brian Krzanich, Intel CEO</footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/intel.png" alt="" class="img-responsive"></div>
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/microsoft.png" alt="" class="img-responsive"></div>
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/nokia.png" alt="" class="img-responsive"></div>
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/samsung.png" alt="" class="img-responsive"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/anz.png" alt="" class="img-responsive"></div>
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/maxis.png" alt="" class="img-responsive"></div>
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/sony.png" alt="" class="img-responsive"></div>
                    <div class="col-md-3 col-sm-3 col-xs-6"><img src="theme/img/demo/hp.png" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- container -->
@section Scripts {
    <environment names="Development">
        <script src="~/theme/js/home_info.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/home.min.js" asp-append-version="true"></script>
    </environment>
}