@{
    ViewData["Title"] = ".NET Foundation";
}

<section class="wrap-hero margin-bottom">
    <div id="carousel-home-hero" class="carousel carousel-hero slide" data-ride="carousel" data-interval="9000" data-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-home-hero" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home-hero" data-slide-to="1"></li>
            <li data-target="#carousel-home-hero" data-slide-to="2"></li>
            <li data-target="#carousel-home-hero" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
             <!-- carousel: Get started with .NET -->
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="carousel-object">
                                <img class="img-responsive base animated animated-slow reveal animation-delay-25" alt="Image" src="/theme/img/carousel/laptop-outline.png">
                                <img class="img-responsive relative animated animated-slow reveal animation-delay-25" alt="Image" src="/theme/img/carousel/laptop-outline.png">
                                <img class="img-responsive relative animated fadeIn animation-delay-40" alt="Image" src="/theme/img/carousel/laptop-code.png">
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Get started with <span>.NET</span></h1>
                                <p class="animated zoomIn animation-delay-9">Develop <span>high performance</span> applications in less time, on any <span>platform</span>. Cross-platform and open source with an active community.</p>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13">Any <strong>developer</strong>.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16">Any <strong>app</strong>.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19">Any <strong>platform</strong>.</span></li>
                                </ul>
                                <div class="action-zone">
                                    <a href="https://dot.net" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-25"><i class="fa fa-terminal"></i> Learn .NET</a>
                                    <a href="https://www.microsoft.com/net/download" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-download"></i> Download</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
            <!-- carousel: Code Conversations -->
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="carousel-object" class="img-responsive animated zoomInUp animation-delay-20">
                            <iframe src="https://channel9.msdn.com/Shows/Code-Conversations/Welcome-to-Code-Conversations/player" width="560" height="315" allowFullScreen frameBorder="0"></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-5 carousel-title"><span>Code Conversations</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-7"></i><span class="animated fadeInRightBig animation-delay-8">Interviews with <strong>open source .NET</strong> developers</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-9"></i><span class="animated fadeInRightBig animation-delay-10"><strong>Quick!</strong> 5-10 minute videos</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-12"><strong>Code focused!</strong> No presentations, we get right to the code.</span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-20">Join Jon Galloway and Maria Naggaga every week as they chat with .NET open source developers about open source libraries  and code.</p>
                                <div class="action-zone">
                                    <a href="https://channel9.msdn.com/Shows/Code-Conversations" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-play"></i> View Series</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
            <!-- carousel: Community -->          
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="">
                                <img src="https://www.microsoft.com/net/images/home-map.jpg?v=Jcv9jwcveQMjdWP15UawkDwrooV-_hyAYArwqiKqtY4" alt="" class="img-responsive animated zoomInRight animation-delay-30">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Join the <span>.NET Community</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13">Over <strong>1200</strong> worldwide meetups.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16">Built by community and industry leaders.</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19">Strong <strong>open source</strong> ecosystem</span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-20">Join a community of 6 million developers. Leverage the large ecosystem of components, Open Source software, and online communities support. </p>
                                <div class="action-zone">
                                    <a href="#" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-25"><i class="fa"></i> Get involved</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
            <!-- carousel: .NET Conf -->
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div>
                                <img class="img-responsive animated zoomInUp animation-delay-15" alt="" src="\theme\img\carousel\dotNetConf-Banner-800x470.png">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="carousel-caption">
                                <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><span>.NET Conf 2017</span></h1>
                                <ul class="list-unstyled carousel-list">
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-11"></i><span class="animated fadeInRightBig animation-delay-13"><strong>45</strong> videos!</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-15"></i><span class="animated fadeInRightBig animation-delay-16">New <strong>.NET Core 2.0</strong> content</span></li>
                                    <li class=""><i class="fa fa-angle-right animated fadeIn animation-delay-19"></i><span class="animated fadeInRightBig animation-delay-19">Learn to build for <strong>web, mobile, desktop, games and more...</strong></span></li>
                                </ul>
                                <p class="animated zoomIn animation-delay-20">Watch the videos from this online conference, including an overview keynote, getting started courses, and technical deep dives! </p>
                                <div class="action-zone">
                                    <a href="https://channel9.msdn.com/Events/dotnetConf/2017" class="btn btn-ar btn-transparent-opaque btn-xl animated fadeInUp animation-delay-22"><i class="fa fa-play"></i> View Sessions</a>
                                </div>
                            </div>
                        </div>
                    </div> <!--row -->
                </div> <!-- container -->
            </div> <!-- item -->
        </div> <!-- carousel-inner -->
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-home-hero" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#carousel-home-hero" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</section> <!-- carousel -->
<div class="container">
    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">What is the .NET Foundation?</h2>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">An Independent Non-Profit Organization</h3>
                            <p>The .NET Foundation is a 503(c).6 non-profit organization set up to support an innovative, commercially-friendly, open source ecosystem around an open source .NET platform.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">.NET Foundation Projects</h3>
                            <p>The .NET Foundation has a growing list of projects that benefit through this open source foundation with commercially friendly IP, copyright terms and licenses.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Supporting the .NET Developer Community</h3>
                            <p>The .NET Foundation works with Microsoft and the broader industry to increase the exposure of open source projects in the .NET community and the .NET Foundation. The .NET Foundation provides access to these resources to projects and looks to promote the activities of our communities.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <iframe src="https://player.vimeo.com/video/223985470" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/223985470">Open Source Software Foundations: Not Totally Boring, Actually Super Awesome - Jon Galloway</a> from <a href="https://vimeo.com/ndcconferences">NDC Conferences</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
        </div> <!-- row -->
    </section>
</div> <!-- container -->
<div class="container">
    <div class="row is-table-row">
        <div class="col-md-12">
            <h2 class="right-line">Recents Posts</h2>
        </div>
    </div>
    <div class="row masonry-container">
        @await Component.InvokeAsync("RecentPosts", new { viewName = "RecentPostsSpotlight", numberToShow = 7 })
    </div>
    <hr />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>News</h2>
            <div class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="holder.js/90x90?theme=social&text=.NET Blog">
                </a>
                <div class="media-body">
                <h4 class="media-heading"><a href="https://blogs.msdn.microsoft.com/dotnet/2017/09/28/net-framework-4-7-1-runtime-and-compiler-features/">.NET Framework 4.7.1 Runtime and Compiler Features</a></h4>
                <p>This post describes the new Runtime, Compiler and Base Class Library (BCL) improvements in the .NET Framework 4.7.1.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="holder.js/90x90?theme=social&text=Scott Hanselman">
                </a>
                <div class="media-body">
                <h4 class="media-heading"><a href="https://www.hanselman.com/blog/TabsVsSpacesAPeacefulResolutionWithEditorConfigInVisualStudioPlusNETExtensions.aspx">Tabs vs Spaces - A peaceful resolution with EditorConfig in Visual Studio. Plus .NET Extensions!</a></h4>
                <p>The culture wars continue. The country is divided with no end in sight. Tabs or spaces? There's even an insane (IMHO) assertion that the spaces people make more money.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="holder.js/90x90?theme=social&text=.NET Rocks">
                </a>
                <div class="media-body">
                <h4 class="media-heading"><a href="https://www.dotnetrocks.com/default.aspx?ShowNum=1480">Social Presentations with Mark Rendle</a></h4>
                <p>How would you make presentations better? While at ProgNet in London, Carl and Richard talked to Mark Rendle about his efforts to build a tool to make presentations more social - he calls it Shtik!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Events</h2>
            <div class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="holder.js/70x70?theme=social&text=Sep \n 28">
                </a>
                <div class="media-body">
                <h4 class="media-heading"><a href="https://www.meetup.com/sevdnug/events/242682178/">Building Chatbots with the Microsoft Bot Framework</a></h4>
                <p>Southeast Valley .NET User Group</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="holder.js/70x70?theme=social&text=Oct \n 2">
                </a>
                <div class="media-body">
                <h4 class="media-heading"><a href="https://www.meetup.com/NET-Developers-Association-Eastside/events/242572893/">Productivity with the Microsoft Graph</a></h4>
                <p>.NET Developers Association - Eastside</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                <img class="media-object" src="holder.js/70x70?theme=social&text=Oct \n 2">
                </a>
                <div class="media-body">
                <h4 class="media-heading"><a href="https://www.meetup.com/SeattleMobileDevelopers/events/243725503/">Seattle - .NET Everywhere with .NET Standard 2.0</a></h4>
                <p>Seattle Mobile .NET Developers Group</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="css-section">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">A large and growing ecosystem</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-8">
                    <h4 id="count-repositories" class="content-box-title counter">515</h4>
                    <i class="fa fa-4x fa-github primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">repositories</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-2">
                    <h4 id="count-projects" class="content-box-title counter">55</h4>
                    <i class="fa fa-4x fa-file-code-o primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">member projects</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-4">
                    <h4 id="count-developers" class="content-box-title counter">25,000</h4>
                    <i class="fa fa-4x fa-group primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">developers contributing</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="content-box box-default wow zoomInUp animation-delay-6">
                    <h4 id="count-companies" class="content-box-title counter">1700</h4>
                    <i class="fa fa-4x fa-building primary-color"></i>
                    <p class="margin-top-20 no-margin-bottom lead small-caps">companies contributing</p>
                </div>
            </div>
        </div>
    </section>
</div> <!-- container -->
<div class="container">
    <section class="margin-top">
        <h2 class="section-title">Why .NET?</h2>
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="bxslider-controls">
                    <span id="bx-prev5"></span>
                    <span id="bx-next5"></span>
                </div>
                <ul class="bxslider" id="home-block">
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Samsung is embracing .NET because it is a completely open source project.</p>
                            <footer>Samsung</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>ASP.NET Core is open source, that allows us to contribute back to it if we have any performance issues which Microsoft review and together we make a better product.</p>
                            <footer>Ben Adams, Illyriad Games</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Being able to develop a vast amount of Xamarin code, most of it only once, that serves multiple platforms is a great efficiency benefit for years to come.</p>
                            <footer>Michele Ivy, UPS</footer>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote class="blockquote-color">
                            <p>Using the same-size server, we were able to go from 1,000 requests per second per node with Node.js to 20,000 requests per second with .NET Core.</p>
                            <footer>John-Daniel Trask, Raygun CEO</footer>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div> <!-- container -->
@section Scripts {
    <environment names="Development">
        <script src="~/theme/js/home_info.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/home.min.js" asp-append-version="true"></script>
    </environment>
}