.header-full-title {
    background-image: url("/images/logo_big.svg"), url("/images/logo_big.png");
    background-size: contain;
    padding-left: 100px;
}

#carousel-home-hero .item {
    min-height: 400px;
}