.header-full-title {
    background-image: url("/images/logo_big.svg"), url("/images/logo_big.png");
    background-size: contain;
    padding-left: 100px;
}

#carousel-home-hero .item {
    min-height: 400px;
}

.masonry-item .img-caption-ar .media-body {
    width: 100%;
    display: block;
}

/* custom social button */

.top-nav-social a.forums:hover {
    background-color: #68217A;
    color: #fff;
}

.merchandise .img-border {
    height: 220px;
    width: 220px;
}

.merchandise img {
    max-height: 220px;
    max-width: 220px;
    height: auto;
}

.merchandise .col-md-3 .content-box {
    height: 370px;
}

.merchandise.row.content-box.box-royal {
    margin-top: 50px;
}

.navbar-default .navbar-brand {
    text-transform: lowercase;
}  