.header-full-title {
    background-image: url("/images/logo_big.svg"), url("/images/logo_big.png");
    background-size: contain;
    padding-left: 100px;
}

#carousel-home-hero .item {
    min-height: 400px;
}

.masonry-item .img-caption-ar .media-body {
    width: 100%;
    display: block;
}

/* custom social button */

.top-nav-social a.forums:hover {
    background-color: #68217A;
    color: #fff;
}